

:root{
  --bg-gray-50:#E6E6E6;
  --bg-blue-600:#032354;
  --bg-blue-400:#5AB9EA;
  --bg-orange-400:#FF8C69;
  --text-white-100:#ffffff;
  --text-black-100:#000000;
  

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#darkmode{
  background-color: #121212;
  color: #ffffff;
}




/* body {
  background-color: #E6E6E6;
}

.body {
  min-height: 100vh;
  background-color: #E6E6E6;
}

.body.dark {
  background-color: #1a1a1a;
}

header {
  background: radial-gradient(circle, #002D72, #5AB9EA, #FF8C69);
  display: flex;
  padding: 2px 0;
} 
header h1{
  font-size:1.5rem;
 
  color:white;

}
/* .header .logo{
  max-width:150px;
  height:auto;
  border-radius:50%;
  margin-left:50px;
  display:flex;
  margin-bottom:-60px;
  margin-top:20px;
} */
 
/* header .conteiner nav{
  list-style: none;
  padding: 0;
  margin:0;
  align-items: left;
  justify-content: left;
}

header .container nav ul{
  display: inline-block;
  margin-right: 20px;
} */


/* .darkmode-toggle{
  color:#002D72;
} */


